body {
  background-color: black;
  text-align: center;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

#paragraph {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

#link-one {
  color: aquamarine;
  font-size: 19px;
}

video {
  align-content: center;
  height: auto;
  width: auto;
}

footer {
  font-family: Verdana;
  font-size: 21px;
  text-align: right;
  color: gray;
}