body {
  background-color: black;
  text-align: center;
}

h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2 {

}

#link-one {
  color: aquamarine;
  font-size: 16px;
}

video {
  align-content: center;
  height: auto;
  width: auto;
}